<div>Filter Sidebar</div>
<div class="sidebar" [ngClass]="sidebarClasses">
  <!--<div class="select">-->
  <!--<mat-form-field>-->
  <!--<mat-label>Category</mat-label>-->
  <!--<mat-select-->
  <!--multiple-->
  <!--[formControl]="categories"-->
  <!--[value]="filters.category"-->
  <!--(valueChange)="onValueChange($event, 'category')"-->
  <!--&gt;-->
  <!--<mat-select-trigger>-->
  <!--{{categories.value ? categories.value[0] : ''}}-->
  <!--<span *ngIf="categories.value?.length > 1">-->
  <!--(+{{categories.value.length - 1}} {{categories.value?.length === 2 ? 'other' : 'others'}})-->
  <!--</span>-->
  <!--</mat-select-trigger>-->
  <!--<mat-option-->
  <!--*ngFor="let option of categoryOptions"-->
  <!--[value]="option.value"-->
  <!--&gt;-->
  <!--{{ option.label }}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--</div>-->
  <!--<div class="select">-->
  <!--<mat-form-field>-->
  <!--<mat-label>Size</mat-label>-->
  <!--<mat-select-->
  <!--multiple-->
  <!--[formControl]="sizes"-->
  <!--[value]="filters.size"-->
  <!--(valueChange)="onValueChange($event, 'size')"-->
  <!--&gt;-->
  <!--<mat-option-->
  <!--*ngFor="let option of sizeOptions"-->
  <!--[value]="option.value"-->
  <!--&gt;-->
  <!--{{ option.label }}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--</div>-->
  <!--<div class="select">-->
  <!--<mat-form-field>-->
  <!--<mat-label>Color</mat-label>-->
  <!--<mat-select-->
  <!--multiple-->
  <!--[formControl]="colors"-->
  <!--[value]="filters.color"-->
  <!--(valueChange)="onValueChange($event, 'color')"-->
  <!--&gt;-->
  <!--<mat-option-->
  <!--*ngFor="let option of colorOptions"-->
  <!--[value]="option.value"-->
  <!--&gt;-->
  <!--{{ option.label }}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--</div>-->
  <!--<div class="select">-->
  <!--<mat-form-field>-->
  <!--<mat-label>Sort By</mat-label>-->
  <!--<mat-select-->
  <!--[value]="filters.category"-->
  <!--(valueChange)="onValueChange($event, 'sort')"-->
  <!--&gt;-->
  <!--<mat-option-->
  <!--*ngFor="let option of sortOptions"-->
  <!--[value]="option.value"-->
  <!--&gt;-->
  <!--{{ option.label }}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--</div>-->

  <form [formGroup]="form">
    <mat-accordion [multi]="true">
      <mat-expansion-panel [expanded]="0" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Category
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description (click)="onClearFilter('category')">Clear filter</mat-panel-description>
        <div>
          <section class="example-section">
            <div *ngFor="let option of categoryOptions; let i = index">
              <mat-checkbox class="example-margin"
                            (change)="onValueChange($event, 'category')"
                            [value]="option.value">{{option.label}}</mat-checkbox>
            </div>
          </section>
        </div>
        <div>

        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Color
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description (click)="onClearFilter('color')">Clear filter</mat-panel-description>
        <div>
          <section class="example-section">
            <div *ngFor="let option of colorOptions; let i = index">
              <mat-checkbox class="example-margin"
                            (change)="onValueChange($event, 'color')" [value]="option.value">{{option.label}}</mat-checkbox>
            </div>
          </section>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Size
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description (click)="onClearFilter('size')">Clear filter</mat-panel-description>
        <div>
          <section class="example-section">
            <div *ngFor="let option of sizeOptions; let i = index">
              <mat-checkbox class="example-margin"
                            (change)="onValueChange($event, 'size')" [value]="option.value">{{option.label}}</mat-checkbox>
            </div>
          </section>
        </div>
        <div>

        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>