$input-height: 40px;
$input-font-size: 13px;

label {
  color: $shark;

  &.small-label {
    font-size: 12px !important;
    color: $shark-light !important;
  }
}

.label-required {
  position: relative;

  &:after {
    content: "*";
    position: absolute;
    top: 0;
    right: -8px;
    color: $radical-red;
  }
}

textarea {
  @include placeholder {
    font-size: 13px;
    color: $manatee;
  }
  font-size: $input-font-size;

  &.lg-textarea {
    height: 100px !important;
  }
}

.form-control {
  min-height: $input-height;
  font-size: $input-font-size;
  border: 1px solid $white-smoke;
  border-radius: 2px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 350px;

  &:disabled {
    color: $shark-light;
    background-color: $hint-of-red;
  }
}

// TODO: add some common class for misc forms
.details-form {
  padding: 25px;

  &.no-pad {
    padding: 0;
  }

  &:not(&--readonly) {
    .form-group {
      label {
        margin-bottom: 5px;

        &.dark-label {
          color: $grey-20;
        }
      }
    }

    .label-required {
      position: relative;

      &:after {
        content: "*";
        position: absolute;
        top: 0;
        right: -8px;
        color: $dusty-gray;
      }
    }

    .details-block__info__header__title {
      max-width: calc(100% - 235px);
      opacity: 0.25;
    }

    .select--services {
      .ng-select-container {
        height: auto !important;
        min-height: 113px !important;
        align-items: start;

        .ng-value-container {
          padding-bottom: 5px;
        }

        .ng-clear-wrapper {
          padding-top: 10px;
        }

        .ng-arrow-wrapper {
          padding-top: 12px;
        }
      }
    }
  }

  .section-last-row {

    .form-group {
      margin-bottom: 0;

      .form-value {
        border-bottom: 0;
      }
    }
  }

  &--readonly {
    .details-block__info__header__title {
      max-width: calc(100% - 175px);
    }

    .form-group {
      &--edge {
        margin-bottom: 0 !important;

        .form-value {
          padding-bottom: 0;
        }
      }

      label {
        margin-bottom: 10px;

        &.label-required {
          &:after {
            display: none;
          }
        }
      }
    }

    .form-value {
      font-size: 14px;

      &--services {
        min-height: 104px;
      }
    }
  }

  &__header {
    display: flex;
    position: relative;
    justify-content: space-between;

    &__logo {
      display: flex;
      flex: 1;

      &__title {
        padding-top: 15px;
        padding-left: 15px;
        font-size: 25px;
        font-weight: bold;
      }
    }

    &__controls {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      align-items: end;
      justify-content: flex-end;
      flex: 1;

      .btn--primary {
        margin-right: 8px;
      }
    }
  }

  label {
    font-size: 12px;
    color: $dusty-gray;

    &.label-required {
      &:after {
        color: $dusty-gray;
      }
    }
  }

  .row {
    margin-right: -13px;
    margin-left: -13px;

    .col,
    .col-6 {
      padding-right: 13px;
      padding-left: 13px;
    }
  }

  .form-group {
    margin-bottom: 12px;

    &.has-icon {
      .form-group-icon {
        svg-icon {
          position: absolute;
          top: 12px;
          right: 20px;
          z-index: 10;
          cursor: pointer;
        }
      }
    }

    &.inline-switch {
      position: relative;
      margin-top: 20px;
      margin-bottom: 25px;

      label {
        position: absolute;
        top: 2px;
        margin-left: 12px;
        font-size: 14px;
        color: $black;
        border-bottom: 0;
      }
    }

    &--edge {
      .form-value {
        border: 0;
      }
    }

    &--access-level {
      .btn--small {
        height: 24px;
        min-height: 24px;
        padding: 3px 15px;
        font-size: 12px;

        svg-icon > svg {
          width: 11px;
        }
      }

      .form-value,
      .select {
        width: calc(100% - 180px);
      }
    }
  }

  .form-value {
    padding-bottom: 18px;
    border-bottom: 1px solid $white-smoke;

    &--no-padding {
      padding-bottom: 0;
    }
  }

  textarea {
    @include placeholder {
      font-size: 13px;
      color: $manatee;
    }
    font-size: $input-font-size;
  }

  .select {
    .ng-arrow-wrapper {
      .ng-arrow {
        top: 3px;
        border-width: 5px 4px;
      }
    }

    .ng-select-container {

      .ng-value {
        padding: 5px 0;
      }

      .ng-input {
        height: $input-height - 12px;

        input {
          height: $input-height - 14;
        }
      }
    }

    &.ng-select-opened {
      .ng-arrow-wrapper {
        .ng-arrow {
          top: -3px;
        }
      }
    }
  }

  &__section-collapse {
    display: flex;
    padding-bottom: 13px;
    font-size: 12px;
    color: $egyptian-blue;
    justify-content: flex-end;

    &--collapsed {
      svg-icon {
        transform: rotate(-90deg) !important;
      }
    }

    &__text {
      transition: border-bottom-color 0.2s linear;
      border-bottom: 1px solid transparent;

      svg-icon {
        width: 7px;
        margin-right: 5px;
        transition: all 0.2s linear;
        vertical-align: middle;
        transform: rotate(90deg);
      }

      &:hover {
        cursor: pointer;
        border-bottom-color: $egyptian-blue;
      }
    }
  }

  &__section {
    &:not(.-no-padding-top) {
      padding-top: 25px;
    }

    &:not(.-no-border) {
      border-top: 1px solid $white-smoke;
    }

    &:not(:last-child) {
      padding-bottom: 15px;
    }

    &--full-width {
      padding-right: 25px;
      padding-left: 25px;
      margin-right: -25px;
      margin-left: -25px;
    }

    &__title {
      padding-bottom: 15px;
      font-size: 13px;
      font-weight: 600;
      color: $nero;
      text-transform: uppercase;
    }

    &--single {
      padding-top: 15px;
      margin-top: 35px;
    }
  }
}


.form-control-wrapper {
  position: relative;

  &--error,
  &.-highlighted {
    .form-control {

      border-color: $radical-red !important;
    }

    .form-control-wrapper__excl-mark {
      opacity: 1;
      visibility: visible;
    }

    .ng-select-container,
    .ng-editable-select-wrapper-input,
    .form-control {
      border-color: $radical-red !important;

      &.ng-editable-select-wrapper-search {
        border-color: $white-smoke !important;
      }
    }
  }

  .form-control {
    position: relative;
    transition: border-color 0.2s linear;
    box-shadow: none;
  }

  .ng-select-container {
    transition: border-color 0.2s linear;
  }

  &__excl-mark {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 2;
    width: 15px;
    height: 15px;
    transition: opacity 0.2s linear;
    font-size: 12px;
    line-height: 15px;
    color: $white;
    text-align: center;
    background-color: $white;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
  }

  &__error {
    position: absolute;
    top: -9px;
    left: 0;
    padding: 9px 12px;
    font-size: 13px;
    color: $radical-red;
    background-color: $white;
    border: 1px solid $white-smoke;
    transform: translateY(-100%);
    box-shadow: 0 -3px 26px 0 transparentize($black, 0.88);

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: -5px;
      width: 10px;
      height: 10px;
      background-color: $white;
      border-bottom: 1px solid $white-smoke;
      border-left: 1px solid $white-smoke;
      transform: rotate(-45deg);
    }
  }
}
