.image-carousel {

  .slide {
    overflow: hidden;

    .carousel-item {
      opacity: 0;
      visibility: hidden;
      display: block !important;
      transition: opacity 800ms ease;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    .carousel-control {
      transition: 300ms ease-out;
      cursor: pointer;

      .carousel-control-next-icon {
        background-image: url("assets/images/arrow-right.svg");
      }

      .carousel-control-prev-icon {
        background-image: url("assets/images/arrow-left.svg");
      }

      .carousel-control-next-icon,
      .carousel-control-prev-icon {

      }

      .sr-only {
        display: none;
      }

      &.carousel-control-prev {
        left: -15%;
      }

      &.carousel-control-next {
        right: -15%;
      }
    }

    &:hover {
      .carousel-control {
        &.carousel-control-prev {
          left: 0;
        }

        &.carousel-control-next {
          right: 0;
        }
      }
    }
  }
}