.overlay {
  position: absolute;
  align-items: stretch;

  &__backdrop {
    width: 100%;
    height: 100%;
    background: $white;
    opacity: 0.8;
  }

  &__loader {
    display: flex;
    position: relative;
    top: -100%;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;

    .ball-pulse {
      > div {
        background-color: $blue-gem;
      }
    }
  }
}
