.overlay {
  position: absolute;
  align-items: stretch;

  &__backdrop {
    width: 100%;
    height: 100%;
    background: $white;
    opacity: 0.8;
  }

  &__loader {
    display: flex;
    position: relative;
    top: -100%;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;

    .line-scale-pulse-out {
      > div {
        background-color: $cerise;
        width: 2px;
        height: 30px;
      }
    }
  }
}

.dropdown-overlay {
  position: fixed;
  left: 100%;
  width: 100%;
  height: 100%;
  background: $black;
  top: 0;
  opacity: 0;
  transition: all 0s 0.5s, opacity 0.5s;
  z-index: 11;

  &--active {
    transition: all 0s, opacity 0.5s;
    left: 0;
    opacity: 0.9;
  }
}
