<div class="row no-gutters align-items-center">
  <div class="col">
    Show filters
  </div>
  <div class="col text-center">
    items found
  </div>
  <div class="col d-flex justify-content-end">
    <div class="select">
      <mat-form-field>
        <mat-label>Order by</mat-label>
        <mat-select
          (valueChange)="onValueChange($event, 'sort')"
        >
          <mat-option
            *ngFor="let option of sortOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

