<div class="list-filters">
  <div class="list-filters__filter d-flex justify-content-between">
    <div class="select">
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select
          multiple
          [formControl]="categories"
          [value]="filters.category"
          (valueChange)="onValueChange($event, 'category')"
        >
          <mat-select-trigger>
            {{categories.value ? categories.value[0] : ''}}
            <span *ngIf="categories.value?.length > 1" class="example-additional-selection">
         (+{{categories.value.length - 1}} {{categories.value?.length === 2 ? 'other' : 'others'}})
      </span>
          </mat-select-trigger>
          <mat-option
            *ngFor="let option of categoryOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="select">
      <mat-form-field appearance="outline">
        <mat-label>Sort By</mat-label>
        <mat-select
          [value]="filters.category"
          (valueChange)="onValueChange($event, 'sort')"
        >
          <mat-option
            *ngFor="let option of sortOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
