<div class="grid-filters">
  <div class="grid-filters__filter row">
    <div class="col-12 col-md-8">
      <div class="select">
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select
            multiple
            [formControl]="categories"
            [value]="filters.category"
            (valueChange)="onValueChange($event, 'category')"
          >
            <mat-select-trigger>
              {{categories.value ? categories.value[0] : ''}}
              <span *ngIf="categories.value?.length > 1">
                 (+{{categories.value.length - 1}} {{categories.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option
              *ngFor="let option of categoryOptions"
              [value]="option.value"
            >
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="select">
        <mat-form-field>
          <mat-label>Size</mat-label>
          <mat-select
            multiple
            [formControl]="sizes"
            [value]="filters.size"
            (valueChange)="onValueChange($event, 'size')"
          >
            <mat-option
              *ngFor="let option of sizeOptions"
              [value]="option.value"
            >
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="select">
        <mat-form-field>
          <mat-label>Color</mat-label>
          <mat-select
            multiple
            [formControl]="colors"
            [value]="filters.color"
            (valueChange)="onValueChange($event, 'color')"
          >
            <mat-option
              *ngFor="let option of colorOptions"
              [value]="option.value"
            >
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-end">
      <div class="select">
        <mat-form-field>
          <mat-label>Sort By</mat-label>
          <mat-select
            [value]="filters.category"
            (valueChange)="onValueChange($event, 'sort')"
          >
            <mat-option
              *ngFor="let option of sortOptions"
              [value]="option.value"
            >
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
