<div class="owl-carousel">
  <div class="banner-item">
    <a href="#">
                                <span class="banner-image"
                                      style="background-image: url('assets/pictures/image-2.jpg')"></span>
    </a>
    <div class="content_slider">
      <div class="custom_content">
        <div class="inner">
          <div class="small-text">Follow you play</div>
          <div class="large-bold-text">in Black</div>
        </div>
        <div class="shop-link"><a href="#">Shop Now</a></div>
      </div>
    </div>
  </div>
  <div class="banner-item">
    <a href="#">
                                <span class="banner-image"
                                      style="background-image: url('assets/pictures/image-3.jpg')"></span>
    </a>
    <div class="content_slider">
      <div class="custom_content">
        <div class="inner">
          <div class="small-text">Follow you play</div>
          <div class="large-bold-text">In Jeans</div>
        </div>
        <div class="shop-link"><a href="#">Shop Now</a></div>
      </div>
    </div>
  </div>
  <div class="banner-item">
    <a href="#">
                                <span class="banner-image" style="background-image: url('assets/pictures/image-6.jpg')">
                                </span>
    </a>
    <div class="content_slider">
      <div class="custom_content">
        <div class="inner">
          <div class="small-text">Follow you play</div>
          <div class="large-bold-text">in Black</div>
        </div>
        <div class="shop-link"><a href="#">Shop Now</a></div>
      </div>
    </div>
  </div>
  <div class="banner-item">
    <a href="#">
                                <span class="banner-image"
                                      style="background-image: url('assets/pictures/image-4.jpg')"></span>
    </a>
    <div class="content_slider">
      <div class="custom_content">
        <div class="inner">
          <div class="small-text">Follow you play</div>
          <div class="large-bold-text">In Jeans</div>
        </div>
        <div class="shop-link"><a href="#">Shop Now</a></div>
      </div>
    </div>
  </div>
</div>