  <h4 class="text-center">Registration</h4>
  <form (submit)="onSubmit($event)" class="form" [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <app-mat-control
            type="text"
            formControlName="FirstName"
            [label]="'First Name'"
            [placeholder]="'Enter First Name'"
          ></app-mat-control>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <app-mat-control
            type="text"
            formControlName="LastName"
            [label]="'Last Name'"
            [placeholder]="'Enter Last Name'"
          ></app-mat-control>
        </div>
      </div>
    </div>
    <div class="form-group">
      <app-mat-control
        type="text"
        formControlName="Email"
        [label]="'Email'"
        [placeholder]="'Enter your email'"
      ></app-mat-control>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <app-mat-control
            type="password"
            formControlName="Password"
            [label]="'Password'"
            [placeholder]="'Enter your password'"
          ></app-mat-control>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <app-mat-control
            type="password"
            formControlName="ConfirmPassword"
            [label]="'Confirm Password'"
            [placeholder]="'Enter confirm password'"
          ></app-mat-control>
        </div>
      </div>
    </div>
    <div class="form-group">
      <app-mat-control
        type="tel"
        formControlName="Phone"
        [label]="'Phone Number'"
        [placeholder]="'Enter your phone'"
      ></app-mat-control>
    </div>
    <div class="login-btn">
      <button
        class="btn btn--primary"
        type="submit"
        [disabled]="isLoading"
      >
          <span *ngIf="!isLoading">
            Register
          </span>
        <loaders-css [loader]="'ball-pulse'" *ngIf="isLoading"></loaders-css>
      </button>
      <br>

      <a class="link" routerLink="/auth">
        Return to Sign In
      </a>
    </div>

  </form>
