<div class="dropdown-overlay"
     [ngClass]="{'dropdown-overlay--active' : !isDisabled}"
     (click)="onClose()"
></div>
<div class="dropdown" [ngClass]="dropdownClasses">
  <button type="button"
          class="close-btn btn"
          (click)="toggleDropdown($event)">
    <i class="icon icon__plus icon__plus--close icon__plus--bright icon--large"></i>
  </button>
  <div *ngIf="cartItems.length === 0" class="dropdown__content-empty">
    <h2>Pretty<br/>empty here</h2>
    <h5>Add a product to your cart</h5>
    <a routerLink="/collection/look" class="btn btn--primary btn-white" (click)="onClose()"><span>Shop Now</span></a>
  </div>

  <div *ngIf="cartItems.length > 0" class="dropdown__content-body">
    <div class="dropdown__title">
      You have ‎{{ countItems() }} in your shopping cart
    </div>
    <ng-container *ngFor="let item of cartItems">
      <div *ngIf="item.Product.sku" class="dropdown__item">
        <div class="dropdown__item__image">
          <img class="img-fluid" [src]="item.Product.baseImage" alt="">
        </div>
        <div class="dropdown__item__info">
          <span class="dropdown__item__info__name">{{ item.Product.name }}</span>
          <span class="dropdown__item__info__price">{{ item.Product.price }} $</span>
          <span>Color: {{ item.Color }}</span>
          <span>Size: {{ productSize(item.Size) }}</span>
        </div>
        <span class="dropdown__item--remove" (click)="removeItem(item.Product.sku, item.Color)"><svg-icon name="trash"></svg-icon></span>
      </div>
    </ng-container>
    <section class="dropdown__total">
      <span>Subtotal:</span> <span class="dropdown__total__price">{{ cartTotal }} $</span>
    </section>

    <section class="dropdown__buttons">
      <a routerLink="/cart" class="btn btn--primary btn-white no-animation" (click)="onClose()"><span>View cart</span></a>

      <button class="btn btn--secondary"
              type="button"
      ><span>Proceed to purchase</span></button>
    </section>

  </div>
</div>